html {
  font-size: 16px;
}
html, body {
  /* rem은 문서의 가장 최상단 폰트사이즈를 기준으로 동작 */
  /* em은 자신의 부모요소의 폰트사이즈를 기준으로 동작 */
  font-size: 0.9rem;
  line-height: 1.5;
  color: #373a3c;
}
/* a요소의 색상을 재정의하고, underline을 없앤다 */
a {
  color: #0275d8;
  text-decoration: none;
}
/* a요소에 hover했을때만 밑줄이 생김 */
a:hover {
  text-decoration: underline;
}
/* ul요소의 패딩을 재정의 */
ul {
  padding-left: 20px;
}
/* 최근 수정 시각 */
.modified-date {
  text-align: right;
}
/* 화살표 모양 이미지 */
img.arrow {
  width: 21px;
  height: 21px;
}
