@font-face {
  font-family: oxidesolidot;
  src: url(../fonts/oxidesolidot.woff) format('woff');
  font-style: normal;
  font-weight: normal;
}
html, body {
  font-family: oxidesolidot;
  margin: 0;
  padding: 0;
}
// 헤더의 상단 부분 (메뉴, 로고, 구독, 검색아이콘)
.header-top {
  width: 100%;
  position: relative;
  
  // 상단 왼쪽부분, absolute포지션으로 부모기준 좌측으로 정렬
  .header-top-left {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
  }
  // 상단 중앙 부분, 블럭요소에 margin: 0 auto;로 가운데 정렬
  .header-top-center {
    margin: 0 auto;
    text-align: center;
  }
  // 상단 오른쪽부분, absolute포지션으로 부모기준 우측으로 정렬
  .header-top-right {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
  }
}