.main-footer {
  background-color: #fff;
  box-shadow: -3px -3px 3px 0 rgba(0, 0, 0, 0.19), 3px 0 3px 0 rgba(0, 0, 0, 0.19), 0 3px 3px 0 rgba(0, 0, 0, 0.23);
  padding: 32px 0;
  text-align: center;
}

.main-footer img.logo {
  width: 150px;
  margin-bottom: 32px;
}

.main-footer > .social-container {
  font-size: 0;
  margin-bottom: 32px;
}

.main-footer > .social-container > img {
  display: inline-block;
  margin-right: 16px;
  width: 50px;
  height: 50px;
}

.main-footer > .social-container > img:last-child {
  margin-right: 0;
}

.main-footer > ul.footer-link-list {
  font-size: 0;
  margin: 0 32px;
}

.main-footer > ul.footer-link-list > li.footer-link {
  display: inline-block;
  border-right: 1px solid #ccc;
  font-size: 10px;
  padding: 0 6px;
  margin-bottom: 4px;
}

.main-footer > ul.footer-link-list > li.footer-link:last-child {
  border-right: none;
}
