.main {
  max-width: 932px;
}

.main > section.popular > .popular-left {
  width: 632px;
  height: 300px;
  float: left;
}

.main > section.popular > .popular-left > .row1 > .col1 {
  width: 60%;
  float: left;
}

.main > section.popular > .popular-left > .row1 > .col2 {
  width: 40%;
  float: left;
}

.main > section.popular > .popular-left > .row2 > .col1 {
  width: 50%;
  height: 100px;
  float: left;
  background-color: yellow;
}

.main > section.popular > .popular-left > .row2 > .col1 > .row1 {
  height: 50%;
  background-color: orange;
}

.main > section.popular > .popular-left > .row2 > .col1 > .row2 {
  height: 50%;
  background-color: purple;
}

.main > section.popular > .popular-left > .row2 > .col2 {
  width: 50%;
  height: 100px;
  float: left;
  background-color: green;
}

.main > section.popular > .popular-left > .row3 {
  height: 100px;
  background-color: lightblue;
}

.main > section.popular > .popular-right {
  width: 300px;
  background-color: blue;
  float: left;
}

.main > section.popular > .popular-right > ul > li {
  border-bottom: 1px solid black;
  height: 100px;
}

.main > section.popular > .popular-right > ul > li:first-child {
  border-top: 1px solid black;
}
