.main {
  max-width: 932px;
  margin: 0 auto;
}

.main > section.popular {
  > .popular-left {
    width: 632px;
    height: 300px;
    background-color: red;
    float: left;
    
    > .row1 {
      > .col1 {
        width: 60%;
        height: 100px;
        float: left;
        background-color: green;
      }
      > .col2 {
        width: 40%;
        height: 100px;
        float: left;
        background-color: yellow;
      }
    }
    > .row2 {
      > .col1 {
        width: 50%;
        height: 100px;
        float: left;
        background-color: yellow;
        > .row1 {
          height: 50%;
          background-color: orange;
        }
        > .row2 {
          height: 50%;
          background-color: purple;
        }
      }
      > .col2 {
        width: 50%;
        height: 100px;
        float: left;
        background-color: green;
      }
    }
    > .row3 {
      height: 100px;
      background-color: lightblue;
    }
  }
  > .popular-right {
    width: 300px;
    background-color: blue;
    float: left;
    
    > ul {
      > li {
        border-bottom: 1px solid black;
        height: 100px;
        
        &:first-child {
          border-top: 1px solid black;
        }
      }
    }
  }
}