$card-margin: 16px;

.main {
  max-width: 932px;
  margin: 16px auto 0;
}
.main .card {
  border-top: 3px solid #000;
  padding: 16px;
  box-shadow: -2px 0 2px 0 rgba(0,0,0,0.16), 2px 0 2px 0 rgba(0,0,0,0.16), 0 2px 2px 0 rgba(0,0,0,0.23);
  box-sizing: border-box;
  margin-right: $card-margin;
  
  img {
    max-width: 100%;
  }
  > .topic, .author {
    color: rgba(0,0,0,0.6);
  }
  > .topic {
    margin-bottom: 3px;
  }
  > .title {
    font-size: 18px;
    font-family: 'Futura';
    line-height: 1.2;
    margin-bottom: 3px;
  }
}

.main > section.popular {
  > .popular-left {
    width: 632px;
    height: 300px;
    float: left;
    
    > .row1 {
      > .col1 {
        width: calc(66% - #{$card-margin});
        float: left;
      }
      > .col2 {
        width: calc(34% - #{$card-margin});
        float: left;
      }
    }
    > .row2 {
      > .col1 {
        width: 50%;
        height: 100px;
        float: left;
        background-color: yellow;
        > .row1 {
          height: 50%;
          background-color: orange;
        }
        > .row2 {
          height: 50%;
          background-color: purple;
        }
      }
      > .col2 {
        width: 50%;
        height: 100px;
        float: left;
        background-color: green;
      }
    }
    > .row3 {
      height: 100px;
      background-color: lightblue;
    }
  }
  > .popular-right {
    width: 300px;
    background-color: blue;
    float: left;
    
    > ul {
      > li {
        border-bottom: 1px solid black;
        height: 100px;
        
        &:first-child {
          border-top: 1px solid black;
        }
      }
    }
  }
}